@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+DE+SAS:wght@100..400&display=swap');
@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
}
*{
    margin: 0px;
    padding: 0px;
}
/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --font: Arial, Verdana, Helvetica, sans-serif;
    --main-font: 'Bebas Neue', cursive;
    --android-font: 'Android', cursive;
}
body{
    background-color: var(--cor0);
    font-family: var(--font);
}
a.externo::after{
    content:'\00a0\1F517';
}
header{
    background-image:linear-gradient(to top, var(--cor5) 15%, var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 20px;
}

header > h1{
    color: #ffffff;
    font-family: var(--main-font);
    font-size: 3em;
    padding-bottom: 10px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.69);
    font-weight: normal;
}
header > p{
    color: #ffffff;
    max-width: 515px;
    margin: auto;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.69);
}   
nav{
    background-color: var(--cor5);   
    padding: 10px; 
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.684);
}
nav a{
    text-decoration: none;
    padding: 10px;
    color:white; 

}
nav a:hover{
    background-color:var(--cor4);
    color:#ffffffd0;
    border-radius: 15px;
    transition-duration: 500ms;
}
main{
    background-color: #ffffff;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 8px 0px #000000e9;
    margin-bottom: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
main  h1{
    color: var(--cor5);
    font-family: var(--android-font);
}
main h2{
    font-family: var(--android-font);
    color: var(--cor4);
    font-size: 1.2em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
    font-weight: normal;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.3em;
}
main strong{
    color:var(--cor4);
    padding: 2px 6px;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color:var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
main img{
    width: 100%;
    
}
.video{
    background-color: #1a5c37;
    margin: 0px -20px 25px -20px;
    padding: 10px;padding-bottom: 50%;
    position: relative;
}
.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
.small{
    max-width: 350px;
    display: block;
    margin: auto;
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.837);
}
aside h3{
    background-color:var(--cor4);
    color: white;
    padding: 5px;
    margin: -9px -9px 0px -9px;
    border-radius: 10px 10px 0px 0px;
    text-indent: 5px;
}
aside > ul{
    
    list-style-position: inside;
    columns: 2;
    list-style-type: '\1F5F8 \00a0';
}
aside abbr{
    text-decoration: none;
}
footer{
    background-color: var(--cor5);
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    color: #ffffff;
}
footer a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}