@charset "UTF-8";
 @import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap');
body{
    background-color: #f7fff7;
    font-family: Arial Helvetica, sans-serif;
}
h1{
    color: #ff8400;
}
#main{
     color: #ff4800;
     text-align: center;
     background-color: #1b1b3a;
     font-family: 'Playwrite DE SAS';
     font-weight: 400;
}
.medium{
    color: rgb(171, 171, 0);
    font-weight: bold;
}
.adv{
    color: rgb(154, 4, 4);
}
h2{
    color: #06d706;
}